body {
	font-family: 'Lato', sans-serif;
	color: black !important;
	height: 100%;
}
 
.navbar {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.input-fix {
	padding-top: -15px;
	padding-bottom: -15px;
}

.md-toolbar-tools h1 {
	font-weight: 700;
}